{
    "vm_name": "{{ vm_name }}",
    "vm_dest_name": "{{ vm_dest_name | default('') }}",
    "openstack": {
      "flavor_name_or_uuid": "{{ flavor_name_or_uuid }}",
      "openstack_private_network": "",
      "nics": {% if convert_metadata_nics %}"{{ convert_metadata_nics }}"{% else %}""{% endif %},
      "security_groups": "{{ convert_metadata_security_groups }}"
    },
    "vmware_guest_info": {},
    "migration": {
      "dry_run": "{{ convert_metadata_dry_run }}",
      "os_migrate_tear_down": "{{ os_migrate_tear_down }}",
      "strategy": "{{ convert_metadata_strategy }}"
    }
  }
