---
version: 3

images:
  base_image:
    name: quay.io/fedora/fedora:40

dependencies:
  ansible_runner:
    package_pip: ansible-runner
  ansible_core:
    package_pip: ansible-core
  python: requirements.txt
  system: binddep.txt
  galaxy: requirements.yml
  python_interpreter:
    package_system: "python3.13"
    python_path: "/usr/bin/python3.13"
additional_build_steps:
  prepend_base:
    - "RUN  echo 'cloud-user ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/cloud-user"
  append_final:
    - "RUN  pip install openstacksdk"