---
- name: Prepare the image metadata command
  ansible.builtin.set_fact:
    image_properties: "{{ import_workloads_image_metadata | map('regex_replace', '^(.*)$', '--image-property \\1') | join(' ') }}"
  when: image_metadata is defined

- name: Set guest boot volume image metadata
  ansible.builtin.shell: |
    openstack volume set {{ volumes[0] }} {{ image_properties }}
  when: hw_machine_type is defined
  changed_when: false
  environment:
    OS_CLOUD: "{{ openstack_cloud }}"

- name: Get volume information for virt-v2v
  os_migrate.vmware_migration_kit.volume_info:
    cloud: "{{ dst_cloud }}"
    name: "{{ vm_name }}-sda"
  register: volume_result
  when: import_workloads_os_migrate_virt_v2v

- name: Get volume information for Cinder boot
  os_migrate.vmware_migration_kit.volume_info:
    cloud: "{{ dst_cloud }}"
    name: "{{ vm_name }}"
  register: cinder_volume_result
  when: import_workloads_boot_from_cinder

- name: Set boot volume UUID as a fact for virt-v2v
  ansible.builtin.set_fact:
    boot_volume_uuid: "{{ volume_result.volumes[0].id }}"
  when: import_workloads_os_migrate_virt_v2v

- name: Set boot volume UUID as a fact for nbdkit
  ansible.builtin.set_fact:
    boot_volume_uuid: "{{ volume_uuid[0] }}"
  when: import_workloads_os_migrate_nbdkit

- name: Set boot volume UUID as a fact for Cinder boot
  ansible.builtin.set_fact:
    boot_volume_uuid: "{{ cinder_volume_result.volumes[0].id }}"
  when: import_workloads_boot_from_cinder

- name: Set additional volumes list for nbdkit
  ansible.builtin.set_fact:
    volumes_list: "{{ volume_uuid[1:] | default([]) }}"
  when: import_workloads_os_migrate_nbdkit

- name: Get flavor UUID if flavor name is provided
  os_migrate.vmware_migration_kit.flavor_info:
    cloud: "{{ dst_cloud }}"
    flavor_name: "{{ flavor_name_or_uuid }}"
  register: flavor_info

- name: Set nics fact for OS instance creation
  ansible.builtin.set_fact:
    nics:
      - net-id: "{{ openstack_private_network }}"
  when:
    - not os_migrate_create_network_port|default(true)|bool
    - openstack_private_network is defined
    - nics is not defined

- name: Create OpenStack instance with port or mapped network
  when:
    - nics is defined
  block:
    - name: Create instance
      register: instance_output
      os_migrate.vmware_migration_kit.create_server:
        cloud: "{{ dst_cloud }}"
        state: "present"
        name: "{{ vm_name }}"
        nics: "{{ nics }}"
        volumes: "{{ volumes_list }}"
        boot_volume: "{{ boot_volume_uuid }}"
        security_groups: ["{{ security_groups }}"]
        flavor: "{{ flavor_info.flavor.id }}"
        key_name: "{{ ssh_key_name | default('') }}"
        boot_from_cinder: "{{ import_workloads_boot_from_cinder }}"
        availability_zone: "{{ import_workloads_nova_az | default(omit) }}"

    - name: Set fact for instance_uuid
      ansible.builtin.set_fact:
        instance_uuid: "{{ instance_output.id }}"
