---
- name: Run migration with nbdkit
  ansible.builtin.include_tasks: nbdkit.yml
  when: os_migrate_nbkit|default(true)|bool

- name: Run migration with virt v2v
  ansible.builtin.include_tasks: virt_v2v.yml
  when: os_migrate_virt_v2v|default(false)|bool

- name: Create neutron port
  ansible.builtin.include_tasks: create_network_port.yml
  when:
    - os_migrate_create_network_port|default(true)|bool
    - import_workloads_converted

- name: Create OpenStack instance
  ansible.builtin.include_tasks: create_os_instance.yml
  when:
    - os_migrate_create_os_instance|default(true)|bool
    - import_workloads_converted

- name: Adopt resources into Heat stack
  ansible.builtin.include_tasks: adopt_heat_stack.yml
  when:
    - import_workloads_adopt_heat_stack|default(false)|bool
    - import_workloads_converted

- name: Teardown
  ansible.builtin.include_tasks: teardown.yml
  when: import_workloads_os_migrate_tear_down|default(false)|bool
