---
- name: Set vddk-libdir
  ansible.builtin.set_fact:
    vddk_libdir:
      stdout: "{{ import_workloads_libdir | default('/usr/lib/vmware-vix-disklib') }}"

- name: Dump passwd file
  ansible.builtin.shell: |
    echo "{{ vcenter_password }}" > /tmp/passwd
  changed_when: false

- name: Make sure virtqemud is started
  ansible.builtin.service:
    name: virtqemud-ro.socket
    state: started

- name: Import VMware volume to Openstack
  environment:
    OS_CLOUD: "{{ os_cloud_environ }}"
  os_migrate.vmware_migration_kit.import_vmware_volume:
    vcenter_username: "none"
    vcenter_hostname: "none"
    esxi_hostname: "none"
    vddk_libdir: "/usr/lib/vmware-vix-disklib"
    vddk_thumbprint: "none"
    conversion_host_id: "b8463364-de22-4adb-95b7-81a87d621534"
    vm_name: "{{ vm_name }}"
