---
- name: Find vddk-libdir
  ansible.builtin.shell: >
    set -o pipefail
    find / -path /usr/share/doc -prune -o -name vmware-vix-disklib -print 2>/dev/null | xargs -r dirname | sort -u
  args:
    executable: /bin/bash
  changed_when: false
  register: vddk_libdir

- name: Dump passwd file
  ansible.builtin.shell: |
    echo '{{ vcenter_password }}' > /tmp/passwd
  changed_when: false

- name: Make sure virtqemud is started
  ansible.builtin.service:
    name: virtqemud-ro.socket
    state: started

- name: Import VMware volume to Openstack
  environment:
    OS_CLOUD: "{{ os_cloud_environ }}"
  os_migrate.vmware_migration_kit.import_vmware_volume:
    vcenter_username: "{{ vcenter_username }}"
    vcenter_hostname: "{{ vcenter_hostname }}"
    esxi_hostname: "{{ esxi_hostname }}"
    vddk_libdir: "{{ vddk_libdir.stdout }}"
    vddk_thumbprint: "{{ vddk_thumbprint }}"
    conversion_host_id: "{{ conversion_host_id }}"
    vm_name: "{{ vm_name }}"
