---
- name: Find vddk-libdir
  ansible.builtin.shell: |
    for d in /usr/lib /usr/lib64 /opt; do
      if [ -d "$d/vmware-vix-disklib" ]; then
        echo "$d/vmware-vix-disklib"
      fi
    done
  changed_when: false
  register: vddk_libdir

- name: Fail if vddk-libdir was not found
  ansible.builtin.fail:
    msg: "VDDK library directory not found. Please make sure vmware-vix-disklib is installed on this host."
  when: vddk_libdir.stdout_lines | length == 0

- name: Dump passwd file
  ansible.builtin.shell: |
    echo '{{ vcenter_password }}' > /tmp/passwd
  changed_when: false

- name: Make sure virtqemud is started
  ansible.builtin.service:
    name: virtqemud-ro.socket
    state: started

- name: Import VMware volume to Openstack
  os_migrate.vmware_migration_kit.import_vmware_volume:
    vcenter_username: "{{ vcenter_username }}"
    vcenter_hostname: "{{ vcenter_hostname }}"
    vcenter_datacenter: "{{ vcenter_datacenter }}"
    vcenter_cluster: "{{ vcenter_cluster }}"
    esxi_hostname: "{{ esxi_hostname }}"
    cloud: "{{ dst_cloud }}"
    vddk_libdir: "{{ vddk_libdir.stdout_lines[0] }}"
    vddk_thumbprint: "{{ vddk_thumbprint }}"
    conversion_host_id: "{{ conversion_host_id }}"
    vm_name: "{{ vm_name }}"
