---
- name: Load metadata files
  ansible.builtin.set_fact:
    vm_info: "{{ lookup('file', '{{ convert_metadata_vm_info_path }}') | from_json }}"
    guest_info: "{{ lookup('file', '{{ convert_metadata_guest_info_path }}') | from_json }}"
    disk_info: "{{ lookup('file', '{{ convert_metadata_disk_info_path }}') | from_json }}"

- name: Get best matches for flavors
  os_migrate.vmware_migration_kit.best_match_flavor:
    cloud: "{{ dst_cloud }}"
    guest_info_path: "{{ convert_metadata_guest_info_path }}"
    disk_info_path: "{{ convert_metadata_disk_info_path }}"
  register: flavor_name
  when: use_existing_flavor | default(true) | bool

- name: Set fact for flavor
  ansible.builtin.set_fact:
    flavor_name_or_uuid: "{{ flavor_name.openstack_flavor_uuid | default('osm-vmware-{}-{}'.format(vm_name, 9999 | random)) }}"

- name: Export flavor
  os_migrate.vmware_migration_kit.export_flavor:
    guest_info_path: "{{ convert_metadata_guest_info_path }}"
    disk_info_path: "{{ convert_metadata_disk_info_path }}"
    flavor_name: "{{ flavor_name_or_uuid }}"
    path: "{{ convert_metadata_flavor_name_path }}"
  when: not use_existing_flavor | default(true) | bool or not flavor_name.openstack_flavor_uuid

- name: Set fact for flavor path
  ansible.builtin.set_fact:
    flavor_name_path: "{{ convert_metadata_flavor_name_path }}"
  when: not use_existing_flavor | default(true) | bool or not flavor_name.openstack_flavor_uuid

- name: Set fact for create flavor
  ansible.builtin.set_fact:
    create_flavor: "{{ not use_existing_flavor | default(true) | bool or not flavor_name.openstack_flavor_uuid }}"

- name: Create import_workload template
  ansible.builtin.template:
    mode: '0644'
    src: "import_workloads.json.j2"
    dest: "{{ convert_metadata_import_workloads_path }}"

- name: Load import_workload template
  ansible.builtin.set_fact:
    vm_import: "{{ lookup('file', '{{ convert_metadata_import_workloads_path }}') | from_json }}"

- name: Merge data into vmware_guest_info
  ansible.builtin.copy:
    dest: "{{ convert_metadata_import_workloads_path }}"
    mode: '0644'
    content: |
      {
        "vm_name": "{{ vm_import.vm_name }}",
        "openstack": {{ vm_import.openstack | to_json }},
        "vmware_guest_info": {{ guest_info.instance | combine(vm_import.vmware_guest_info) | to_json }},
        "migration": {{ vm_import.migration | to_json }}
      }
