---
- name: Search VM by name
  vmware.vmware.guest_info:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: false
    name: "{{ vm_name }}"
  register: guest_info

- name: Validate VM was found
  ansible.builtin.fail:
    msg: |
      ERROR: VM '{{ vm_name }}' was not found in vCenter.

      Please verify:
      - The VM name is correct (case sensitive)
      - The VM exists in vCenter: {{ vcenter_hostname }}
      - The VM is in datacenter: {{ vcenter_datacenter }}

      Check your 'vms_list' parameter in vars.yaml
  when: guest_info.guests | length == 0

- name: Dump guest_info file
  ansible.builtin.copy:
    content: "{{ guest_info.guests[0] | to_nice_json }}"
    dest: "{{ os_migrate_vmw_data_dir }}/{{ vm_name }}/guest_info.json"
    mode: '0644'
  delegate_to: localhost
  run_once: true

- name: Extract VM moid
  ansible.builtin.set_fact:
    vm_moid: "{{ guest_info.guests[0].moid }}"

- name: Get VM disks ID
  vmware.vmware_rest.vcenter_vm_hardware_disk_info:
    vcenter_hostname: "{{ vcenter_hostname }}"
    vcenter_username: "{{ vcenter_username }}"
    vcenter_password: "{{ vcenter_password }}"
    vcenter_validate_certs: false
    vm: "{{ vm_moid }}"
  register: vm_disk_ids

- name: Get all info from each disk in the vm
  vmware.vmware_rest.vcenter_vm_hardware_disk_info:
    vcenter_hostname: "{{ vcenter_hostname }}"
    vcenter_username: "{{ vcenter_username }}"
    vcenter_password: "{{ vcenter_password }}"
    vcenter_validate_certs: false
    vm: "{{ vm_moid }}"
    disk: "{{ item.disk }}"
  loop: "{{ vm_disk_ids.value }}"
  register: disk_info_raw

- name: Dump disk_info file
  ansible.builtin.copy:
    content: >-
      {{
        {
          'disks': disk_info_raw.results | map(attribute='value') | list,
          'disk_keys': disk_info_raw.results | map(attribute='item') | map(attribute='disk') | list
        } | to_nice_json
      }}
    dest: "{{ os_migrate_vmw_data_dir }}/{{ vm_name }}/disk_info.json"
    mode: '0644'
  delegate_to: localhost
  run_once: true
