#!/bin/sh

UDEV_RULES_FILE="${UDEV_RULES_FILE:-/etc/udev/rules.d/70-persistent-net.rules}"

exec 3>&1
log() {
    echo "$@" >&3
}

generate_udev_rules() {
  devices="$1"

  echo "Generating udev rules..."
  echo "# Persistent network device rules" > "$UDEV_RULES_FILE"

  echo "$devices" | while IFS= read -r entry; do
    device="${entry%%:*}"
    mac="${entry#*:*}"
    if [ -n "$device" ] && [ -n "$mac" ]; then
      echo "SUBSYSTEM==\"net\",ACTION==\"add\",ATTR{address}==\"$mac\",NAME=\"$device\"" >> "$UDEV_RULES_FILE"
    fi
  done

  echo "Udev rules written to $UDEV_RULES_FILE"
}

extract_nm_connections() {
  macs="$1"
  set -- $macs
  result=""

  for file in /etc/NetworkManager/system-connections/*; do
    if [ -f "$file" ]; then
      device="$(grep '^interface-name=' "$file" | cut -d'=' -f2)"
      log "File: $file, Device: $device"

      if [ -n "$device" ]; then
        mac="$1"
        shift
        log "Device: $device, MAC: $mac"

        if [ -n "$mac" ]; then
          result="$result\n$device:$mac"
        fi
      fi
    fi
  done

  echo "$result"
}

extract_sysconfig_connections() {
  result=""
  for file in /etc/sysconfig/network-scripts/ifcfg-*; do
    if [ -f "$file" ]; then
      device="$(grep '^DEVICE=' "$file" | cut -d'=' -f2 | tr -d '"')"
      log "File: $file, Device: $device"
      mac="$(grep '^HWADDR=' "$file" | cut -d'=' -f2 | tr -d '"')"
      if [ -n "$device" ] && [ -n "$mac" ]; then
        result="$result\n$device:$mac"
      fi
    fi
  done

  echo "$result"
}

extract_netplan_connections() {
  macs="$1"
  set -- $macs
  result=""

  for file in /etc/netplan/*.yaml; do
    if [ -f "$file" ]; then
      interface="$(awk '/ethernets:/ {flag=1; next} flag && /^[[:space:]]+[a-zA-Z0-9_-]+:/ {gsub(":", "", $1); print $1; flag=0}' "$file")"
      log "Netplan file: $file, Extracted interface: $interface"

      if [ -n "$interface" ]; then
        mac="$1"
        shift
        log "Device: $interface, MAC: $mac"
        if [ -n "$mac" ]; then
          result="$result\n$interface:$mac"
        fi
      fi
    fi
  done

  echo "$result"
}

main() {
  macs="{{ macs_list | join(' ') }}"
  log "$macs"

  exdevices="$(extract_nm_connections "$macs")"

  if [ -z "$exdevices" ]; then
    log "No network devices found in NetworkManager. Trying sysconfig..."
    exdevices="$(extract_sysconfig_connections)"

    if [ -z "$exdevices" ]; then
      log "No network devices found in sysconfig. Trying netplan..."
      if [ -d /etc/netplan ]; then
        exdevices="$(extract_netplan_connections "$macs")"
      fi

      if [ -z "$exdevices" ]; then
        log "No network devices found. Exiting."
        exit 0
      fi
    fi
  fi

  generate_udev_rules "$exdevices"
}
main